.wdisplay {
	margin-bottom: 2rem;
	width: 100%;

	text-align: center;

	animation-name: fadein;
	animation-duration: 2s;
}

.region {
	font-size: 4rem;
}

.country {
	font-size: 2rem;
}

.image {
	max-width: 100%;

	width: 80%;
	height: auto;
}

.condition {
	font-size: 2rem;
}

.dt {
	font-size: 2rem;
	text-align: center;
}

@keyframes fadein {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%
	}
}
