#root {
  height: 100vh;
  color: white;

  background-image: url("images/moon.jpg");
	background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
