@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

html {
	--color-blue-1: #03045E;
	--color-blue-2: #023E8A;
	--color-blue-3: #0077B6;
	--color-blue-4: #0096C7;
	--color-blue-5: #00B4D8;
	--color-blue-6: #48CAE4;
	--color-blue-7: #90E0EF;
	--color-blue-8: #ADE8F4;
	--color-blue-9: #CAF0F8;

	--primary-fonts: 'Libre Baskerville', serif;

	font-size: 8px;
	font-family: var(--primary-fonts);
}

body {
  min-height: 100vh;
}

#root {
	width: 100vw;
}

